<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css" integrity="sha512-IgmDkwzs96t4SrChW29No3NXBIBv8baW490zk5aXvhCD8vuZM3yUSkbyTBcXohkySecyzIrUwiF/qV0cuPcL3Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Marathon Tools Social Auth</title>
</head>
<body>
    <section class="section">
        <div class="container">
            <p class="is-size-1">Login</p>
            <form class="box">
                <div class="field">
                    <label for="" class="label">Password</label>
                    <div class="control">
                        <input type="password" class="input">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button class="button is-primary">Login</button>
                    </div>
                </div>
            </form>
        </div>
    
    </section>
</body>
</html>